<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MHYahooParallaxViewExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>YahooWeatherExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1497BC36197EE3F800F2C632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1497BC57197EE3F800F2C632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>149C9542198EC92100AFF518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>149C955E198EC92200AFF518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14DE31EC198BFCB5001391A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14DE3208198BFCB5001391A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14FC483B198BF4540084C7DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14FC4857198BF4540084C7DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
